@charset "UTF-8";
/*import utilizados*/ /*aplicado en scss de body, en scss main linea 70 y scss de footer */
/*se utiliza mapa en scss contacto*/
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@500&family=Fasthand&family=Lora:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*el mixin esta aplicado en el scss main linea 76 y scss contacto*/
body {
  font-family: "Delicious Handrawn", cursive;
}

.header {
  height: 100vh;
  background-image: url("../assets/img/FONDO INDEX.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  width: 40%;
  height: 30%;
}

.navbar-light .navbar-nav .nav-link {
  color: bisque;
  font-size: 2rem;
}

.nav-item {
  color: bisque;
  font-size: large;
}

/*extend utilizados en esta pagina*/
.izquierdaviñedosindex, .izquierda-2025-historia, .izquierda-2019-historia, .izquierda-2010-historia, .izquierda-2008-historia, .izquierda-2006-historia, .izquierda-2005-historia, .izquierda-chardonnay-cepas, .izquierda-merlot-cepas, .izquierda-cabernet-cepas, .izquierda-malbec-cepas, .izquierda-comollegar-ubicacion, .izquierda-contacto-ubicacion, .izquierda-cata-ubicacion, .izquierda-experiencia-ubicacion, .izquierdavisitanosindex {
  background-image: url(../assets/img/viñedos\ main\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.izquierdavisitanosindex {
  background-image: url(../assets/img/botella\ y\ 2\ copas\ red.jpeg);
}

.izquierda-experiencia-ubicacion {
  background-image: url(../assets/img/experiencia\ gastronomica.jpg);
}

.izquierda-cata-ubicacion {
  background-image: url(../assets/img/cata_vinos.jpg);
}

.izquierda-contacto-ubicacion {
  background-image: url(../assets/img/contcto\ formulario.png);
}

.izquierda-comollegar-ubicacion {
  background-image: url(../assets/img/como\ llegar\ unicacion.jpg);
}

.izquierda-malbec-cepas {
  background-image: url(../assets/img/malbec.jpg);
}

.izquierda-cabernet-cepas {
  background-image: url(../assets/img/cabernet\ sauvignon.jpg);
}

.izquierda-merlot-cepas {
  background-image: url(../assets/img/merlot.png);
}

.izquierda-chardonnay-cepas {
  background-image: url(../assets/img/chardonnay.png);
}

.izquierda-2005-historia {
  background-image: url(../assets/img/2005.jpg);
}

.izquierda-2006-historia {
  background-image: url(../assets/img/2006.png);
}

.izquierda-2008-historia {
  background-image: url(../assets/img/2008.png);
}

.izquierda-2010-historia {
  background-image: url(../assets/img/2010.jpg);
}

.izquierda-2019-historia {
  background-image: url(../assets/img/2019.jpg);
}

.izquierda-2025-historia {
  background-image: url(../assets/img/2025.jpg);
}

.main {
  background-color: bisque;
}

.derecha {
  height: 50vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*anidacion */
footer {
  background-color: rgb(194, 60, 92);
}
footer .footerLogo {
  height: 15vh;
  margin-top: 0% auto;
  margin-left: 44%;
  align-items: center;
}
@media (max-width: 768px) {
  footer .footerLogo {
    margin-left: 35%;
  }
}
footer p {
  margin-top: 0% auto;
  margin-right: 3%;
  text-align: center;
  font-size: 2rem;
}
footer .redes {
  margin-top: 0% auto;
  margin-right: 3%;
  text-align: center;
}
footer a {
  text-decoration: none;
}

.viaweb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: bisque;
}

/*# sourceMappingURL=estilos.css.map */
